:root{
    --input-bg-color: #c49a87be;
}

.input-file-list-img-avatar {
    width: 150px;
    height: 150px;
    object-fit: contain;
}


body {
    background-color: white;
    color: black;
    padding-top: 56px;
}

.inner{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    }

.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo-link{
    border-radius: 100%;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
}

.btn-div{
    height: 100px;
    width: 50px;

    position: fixed;
    bottom: 5%;
    right: 2%;
}

.TopBtn{
    position: absolute;
    top: 0;
    height: 50%;

    width: 100%;
}

#toTopBtn {
    border-radius: 100%;
    display: none;
    opacity: 0.5;
    position:relative;
    margin: 5%;
}


.btn-social-link{
    position: absolute;
    z-index: 9999;
    bottom: 0;
    height: 50%;
    z-index: 9999;
}

.social-link .tooltip-text{
    position: absolute; /* Абсолютное позиционирование */
    width: auto; /* Ширина подсказки */
    top: 20%;
    left: -210%; /* Положение подсказки */
    background: #adb5bd; /* Синий цвет фона */
    color: black; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    white-space: nowrap;
}

.social-link:hover .tooltip-text{
    white-space: nowrap;
    opacity: 1; /* Показываем подсказку */
    top: 15%;
    left: -250%; /* Положение подсказки */
}

.text-social{
    margin: 3%;
}

.text-social p{
    text-align: center;
    font-family: 'Alegreya Sans', 'Arial', sans-serif;
    font-size: calc(12px + 16*(10vw/1280));
    color: black;
}

@media (min-width: 389px){
p, h3, h4, h8, .info{
  font-size: calc(12px + (16 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 388px){
.nav-link, h3, h4, h8, p{
    font-size: calc(10px + (16 * 0.7) * ((100vw - 320px) / 1280));
    }
}

.box-social{
    margin-top: 5%;
    top: 50%;
    text-align: center;
}

.link-social{
    padding: 0px;
}

 li{
    list-style-type: none;
    width: auto;
    display: inline;
}

.inner-img{
    position: relative;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;

    margin: 0;
    width: 100%;
    height: 100%;

}

.img-class{
    position: relative;
    width: 100%;
    height: 100%;

    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;

    object-fit: cover;
}

.gallery-section{
    margin-bottom: 10%;
    scroll-margin-top: 100px;
    overflow: clip;
}

.justify-content-center{
    justify-content: center !important;
}

.gallery-section .gallery-item{
    position: relative;
    overflow: hidden;
}

.h-100{
    height: 100% !important;
}

.gallery{
    margin-left: 7%;
    margin-right: 7%;
}

/* Fonts */
li, h3,h8, p{
    font-family: 'Bellota', 'Arial', sans-serif;
}

.section-container{
    padding: 1%;

    width: 100%;
    height: auto;
}

.section-container-inner{
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.main-container{
    height: auto;
}

textarea{
    background: var(--input-bg-color);
    color: #fff;
    width: 100%;
    font-size: 12px;
    resize: none;
}

input[type="text"]{
    background: var(--input-bg-color);
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="text"]:focus {
    outline: var(--input-bg-color);
    outline-offset: 3px;
    background: var(--input-bg-color);
    color: #fff;
}

.input-group{
    padding: 15px;
}

.form-control::placeholder{
    font-size: 12px;
    color: #fff;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.svg-icon{
    width: 100%;
    height: 80px;
    background-image: url(../img/logo/logo2.svg);
}