{% extends "admin/base.html" %}
{% from "admin/modals_windows/price_page_modals.html" import add_description, remove_descriptions, create_service, modal_edit_photo,
modal_create_stage, add_condition_stage, add_my_condition, add_info_footer, add_discount %}

{% block load_css %}
    <link rel="stylesheet" href="../static/css/price_page.css">
    <link rel="stylesheet" href="../static/css/admin_main_page.css">
{% endblock %}

{% block title %} Прайс-лист {% endblock %}

{% block main %}

<div id="resultMessageRemoveService" class="alert alert-info mt-3" style="display: none;"></div>

<div class="section-container">
        <div class="section-container-inner-services">
            <div class="row">
                <div class="" style="margin-bottom:20px; text-align:center;">
                    <button class="btn btn-primary col-4" data-bs-target="#addServiceModal" data-bs-toggle="modal">Добавить услугу</button>
                    <div class="modal" id="addServiceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
                        {{ create_service() }}
                    </div>
                </div>
            </div>
            <div class="row g-2 justify-content-center">


                {% for service in services %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4" id="container-{{service.id}}">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="img-services">
                        <div>
                            <img src="../static/img/services/big_size/{{ service.img }}" loading="lazy" height="2400px" width="1600px" decoding="async" class="img-class"
                                 srcset="../static/img/services/big_size/{{ service.img }} 1400w,
                                 ../static/img/services/middle_size/{{ service.img }} 1280w,
                                 ../static/img/services/small_size/{{ service.img }}
                                ">
                            <input type="button" value="Изменить фото" class="btn btn-info d-grid gap-2 col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#editPhotoService_{{ service.id }}">
                            <div class="modal" id="editPhotoService_{{ service.id }}" tabindex="-1" aria-labelledby="editPhotoModalLabel" aria-hidden="true">
                                        {{ modal_edit_photo(service.id, service.title, service.img) }}
                            </div>
                        </div>
                            <h3>
                            <h3>
                                <input type="text" id="service_title_{{ service.id }}" placeholder="{{ service.title }}">
                                <input type="button" name="save" style="margin-bottom:4px;" value="Изменить название" class="btn btn-warning col-8" onclick="editTitleService({{ service.id }})">
                            </h3>
                            <ul class="serv_{{ service.id }}">
                                {% for info_service in service.info %}
                                    <div id="{{info_service.id}}">
                                        <li class="info"><textarea id="textarea_id_{{ info_service.id }}" rows="4"  placeholder="{{ info_service.text }}"></textarea></li>
                                        <input type="button" style="margin-bottom:4px;" value="Изменить описание" class="btn btn-primary col-8" onclick="editDescriptionService({{ info_service.id }}, '{{ service.title }}')">
                                    </div>
                                    {% endfor %}
                            </ul>
                            <div>
                                <p class="info-price"><input type="number" id="price_service_{{service.id}}" placeholder="{{service.price}}"> руб.</p>
                                <input type="button" name="save" style="margin-bottom:4px;" value="Изменить стоимость" class="btn btn-info col-8" onclick="editPriceService({{ service.id }}, '{{ service.title }}')">
                            </div>
                            <div>
                                <div>
                                    <button class="col-12 btn btn-success" style="margin-bottom:4px;" data-bs-toggle="modal" data-bs-target="#addDescription_{{ service.id }}">Добавить описание</button>
                                    <div class="modal" id="addDescription_{{ service.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        {{ add_description(service.title, service.id) }}
                                    </div>
                                </div>
                                <div>
                                    <button class="col-12 btn btn-danger" data-bs-toggle="modal" style="margin-bottom:4px;" data-bs-target="#rmDescriptionModal_{{ service.id }}">Удалить описание</button>
                                    <div class="modal" id="rmDescriptionModal_{{ service.id }}" tabindex="-1" aria-labelledby="rmModalLabel" aria-hidden="true">
                                        {{ remove_descriptions(service.title, service.id, service.info) }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button onclick="rmService({{service.id}}, '{{ service.title }}')" style="margin-bottom:4px;" type="button" class="btn btn-danger col-12">Удалить услугу</button>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</div>


<div class="main-container">
    <div class="section-container">
        <div class="section-container-inner">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-8" >
                    <h3 style="text-align:center">Этапы работы до съёмки:</h3>
                        <div class="container-stages">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            {% for stage in stages %}
                            <div id="div-stage" style="margin-bottom: 20px;">
                                <p style="text-align:left">
                                    <input id="title-stage-{{ stage.id }}" type="text" placeholder="{{stage.title}}">
                                </p>
                                <ul style= "padding-left: 0;">
                                    {% for condition in stage.info_to_work %}
                                    <li class="info">
                                            <textarea rows="4" id="{{condition.id}}" placeholder="• {{ condition.text }}"></textarea>
                                            <input class="col-3 btn btn-danger" type="button" onclick="removeConditionStage({{ condition.id}}, this)" name="add_service" value="Удалить">
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div style="text-align:center; margin-bottom:4px;">
                                    <input class="col-6 btn btn-primary" onclick="saveChangeStage({{stage.id}}, this)" type="button" value="Сохранить изменения" >
                                </div>
                                <div style="text-align:center; margin-bottom:4px;">
                                    <button class="btn btn-success col-4" data-bs-target="#addConditionModal{{stage.id}}" data-bs-toggle="modal">Добавить условие</button>
                                    <div class="modal" id="addConditionModal{{stage.id}}" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
                                        {{ add_condition_stage(stage.id, stage.title) }}
                                    </div>
                                </div>
                                <div style="text-align:center; margin-bottom:4px;">
                                    <input class="col-6 btn btn-danger" type="submit" onclick="removeStage({{ stage.id }},'{{ stage.title }}', this)" value="Удалить (этап)">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    <div style="text-align:center;">
                        <div>
                            <button class="col-6 btn btn-success" data-bs-toggle="modal" style="margin-bottom: 40px;" data-bs-target="#addNewStage">Добавить новый этап</button>
                            <div class="modal" id="addNewStage" tabindex="-1" aria-labelledby="rmModalLabel" aria-hidden="true">
                                {{ modal_create_stage() }}
                            </div>
                        </div>
                    </div>
                    <div class="container-conditions container text-center">
                        {% for condition in conditions %}
                            <div class="condition">
                                <textarea rows="7" class="col-12" placeholder="{{ condition.text }}"></textarea>
                                <div class="row justify-content-md-center" style="margin-bottom:4%">
                                    <div class="col-4">
                                        <div class="row">
                                            <input class="btn btn-primary" type="button" value="Сохранить" onclick="changeMyCondition(this, {{condition.id}})">
                                            <input class="btn btn-danger" type="button" value="Удалить" onclick="removeMyCondition(this, {{condition.id}})">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewMyCondition">Добавить условие</button>
                                <div class="modal" id="addNewMyCondition" tabindex="-1" aria-labelledby="rmModalLabel" aria-hidden="true">
                                    {{ add_my_condition() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section-container-inner">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="ConditionVideo">
                        <h3 style="text-align: center"><b>внимание!</b></h3>
                        <textarea rows="3" placeholder="{{condition_video.text}}"></textarea>
                        <div style="text-align: center"><button class="btn btn-primary" onclick="ChangeConditionVideo(this, {{condition_video.id}})">Сохранить</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section-container-photo" style="background-image: url('../static/img/background_price_page/{{bg_image}}');">
        <div class="row col-md-2 mx-auto">
            <div class="text-center rounded">
                <label class="input-file">
                    <input onchange="confirmEditPhoto(this)" type="file" name="bg_photo[]" accept="image/*">
                    <span class="input-file opacity-50">Изменить фото</span>
                </label>
            </div>
        </div>
    </div>


    <div class="section-container">
        <div class="section-container-inner">
            <div class="row">
                <div class="col-sm-8">
                    <h4>Дополнительная информация:</h4>
                    {% for info in additional_info %}
                        <div style="margin: 10px;">
                            <textarea class="info" rows="3" name="{{info.id}}" placeholder="{{info.text}}"></textarea>
                            <input class="btn btn-primary" type="button" onclick="saveChangeInformation(this)" value="Соханить">
                            <input class="btn btn-danger" type="button" onclick="removeInformation(this)" value="Удалить">
                        </div>
                    {% endfor %}
                    <button class="btn btn-success col-4" data-bs-target="#InfoFooterModal" data-bs-toggle="modal">Добавить запись</button>
                    <div class="modal" id="InfoFooterModal" tabindex="-1" aria-labelledby="InfoFooterModalLabel" aria-hidden="true">
                        {{ add_info_footer() }}
                    </div>
                </div>


                <div class="col-sm-4">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <h4>Скидка:</h4>
                    {% for info in discount_info %}
                        <div style="margin: 10px;">
                            <textarea class="info" rows="3" name="{{info.id}}" placeholder="{{info.text}}"></textarea>
                            <input class="btn btn-primary" type="submit" value="Сохранить" onclick="saveChangeDiscount(this)">
                            <input class="btn btn-danger" type="button" value="Удалить" onclick="removeDiscount(this)">
                        </div>
                    {% endfor %}
                    <button class="btn btn-success col-12" data-bs-target="#DiscountModal" data-bs-toggle="modal">Добавить запись</button>
                    <div class="modal" id="DiscountModal" tabindex="-1" aria-labelledby="DiscountModalLabel" aria-hidden="true">
                        {{ add_discount() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <section id="social" class="container">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="text-social">
                <p><b>Заказать фотосъёмку</b></p>
            </div>
            <div id="div-change-data-order">
                <p style="font-size: 15px; text-align:center;">
                    <textarea rows="3" placeholder="{{text_order_photo_shoot.text}}"></textarea>
                </p>
                <div class="btn-container">
                    <input class="btn btn-primary" type="submit" value="Сохранить" onclick="editOrderText(this)">
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="../static/js/admin/func_price_page/service.js"></script>
    <script src="../static/js/admin/func_price_page/edit_info_service.js"></script>
    <script src="../static/js/admin/func_price_page/edit_photo_background.js"></script>
    <script src="../static/js/admin/func_price_page/order.js"></script>
    <script src="../static/js/admin/func_price_page/information_footer.js"></script>
    <script src="../static/js/admin/func_price_page/discount.js"></script>
    <script src="../static/js/admin/func_price_page/stage.js"></script>
    <script src="../static/js/admin/func_price_page/my_condition.js"></script>
{% endblock %}



