{% extends "admin/base.html" %}
{% from "admin/modals_windows/reviews_page_modals.html" import inactive_review %}

{% block load_css %}
    <link rel="stylesheet" href="../static/css/reviews_page.css">
    <link rel="stylesheet" href="../static/css/admin_main_page.css">
{% endblock %}

{% block title %} Отзывы {% endblock %}

{% block main %}
<div class="main-container">
    <input type="hidden" id="csrf" name="csrf_token" value="{{ csrf_token() }}">
    <div class="container-btn-review">
        <div class="box-social">
            <ul class="link-social">
                <li><button id="btnModalInactiveReview" type="button" class="btn btn-dart" data-bs-toggle="modal" data-bs-target="#inactiveReview" onclick="getInactiveReviews(this)"><i class="bi bi-pencil"></i> Новые отзывы</button></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            {% for review in reviews %}
                <div class="col-4" style="text-align:center">
                    <div class="content-review">
                        <img src="/static/img/photos_reviews/big_size/{{ review.photo }}" class="review-photo">
                        <h3>{{ review.nickname }}</h3>
                        {% if review.social_link != None %}
                            <p>{{review.social_link}}</p>
                        {% endif %}
                        <p>{{ review.review_text}}</p>
                        <input type="button" id="{{ review.id }}" class="btn btn-danger" value="Удалить" onclick="removeReview(this)">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal" id="inactiveReview" tabindex="-1" aria-labelledby="inactiveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-lg modal-dialog-centered">{{ inactive_review() }}</div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="../static/js/admin/reviews_page/remove_review.js"></script>
    <script src="../static/js/admin/reviews_page/get_data_inactive_reviews.js"></script>
    <script src="../static/js/admin/reviews_page/work_with_inactive_reviews.js"></script>
{% endblock %}