{% macro reviews_modal() %}
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <h3>Ваш отзыв</h3>
                                <div class="input-group">
                                    <input type="text" placeholder="Ваше имя" class="form-control">
                                </div>
                                <div class="input-group">
                                    <input type="text" placeholder="Ссылка на соцсеть (необязательно)" class="form-control">
                                </div>
                                <div class="input-group">
                                    <textarea placeholder="Ваш отзыв" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="position-relative my-relative">
                                    <div class="position-absolute top-50 start-50 translate-middle avatar-container">
                                        <div class="avatar-container-inner">
                                            <div class="radius">
                                                <i class="bi bi-camera position-absolute top-50 start-50 translate-middle pos-camera"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative my-relative">
                                    <div class="btn-container">
                                        <div class="btn-container-inner">
                                            <div class="avatar-btn">
                                                <button type="button" class="btn btn-dark">Выбрать фото</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark">Сохранить изменения</button>
                </div>
            </div>
{% endmacro %}