{% extends "base.html" %}

{% block title %} Главная страница {% endblock %}

{% block quote_on_main_page %}
    <section class="container home text-center">
        <p>{{ quote }}</p>
    </section>
{% endblock %}

{% block main %}
    <section class="gallery-section">
        <div class="container-fluid">
            <div class="row g-1 justify-content-center gallery">
                {% for image in images %}
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4">
                    <div class="gallery-item h-100">
                        <a href="static/img/photos/{{ image }}" data-fancybox="">
                            <img src="static/img/photos/{{ image }}" height="2400px" width="1600px" decoding="async" class="img-class"  alt=""
                                        srcset="static/img/photos/{{ image }} 1400w,
                                        static/img/middle_size/{{ image }} 1280w,
                                        static/img/small_size/{{ image }} 960w
                                        "
                            >
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{%block footer %}
    <section id="social" class="container text-white">
        <div class="text-social" >
            <p>{{ text_footer }}</p>
            <p>{{ link_footer }}</p>
        </div>

    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="static/js/zoom-img.js"></script>
{% endblock %}
