{% extends "base.html" %}

{% block load_css %} <link rel="stylesheet" href="static/css/price_page.css">{% endblock %}

{% block title %} Прайс-лист {% endblock %}

{% block main %}
<div class="section-container">
        <div class="section-container-inner-services">
            <div class="row g-2 justify-content-center">
                {% for service in services %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                        <div class="img-services">
                            <img class="img-class" src="static/img/services/big_size/{{ service.img }}"
                                loading="lazy" height="2400px" width="1600px" decoding="async"
                                srcset="static/img/services/big_size/{{ service.img }} 1480w,
                                        static/img/services/middle_size/{{ service.img }} 1280w,
                                        static/img/services/small_size/{{ service.img }} 960w
                                ">
                                <h3>{{ service.title }}</h3>
                                <ul>
                                    {% for info in service.info %}
                                        <li class="info">• {{ info.text }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="info-price">Стоимость: {{ service.price }} руб.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>


<div class="main-container">
    <div class="section-container">
        <div class="section-container-inner">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-8" >
                    <h3 style="text-align:center">Этапы работы до съёмки:</h3>
                    {% for stage in stages %}
                        <p style="text-align:left">{{ stage.title }}</p>
                        <ul>
                            {% for info_to_work in stage.info_to_work %}
                                <li class="info">• {{ info_to_work.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    {% for condition in my_conditions %}
                        <p class="info-price">{{ condition.text }}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section-container-inner">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <h3 style="text-align: center"><b>внимание!</b></h3>
                    <h3 style="text-align: center">{{condition_video.text}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="section-container-photo"  style="background-image: url('../static/img/background_price_page/{{bg_image}}');"></div>


    <div class="section-container">
        <div class="section-container-inner">
            <div class="row">
                <div class="col-sm-8">
                    <h4>Дополнительная информация:</h4>
                    {% for info in additional_info %}
                        <p class="info">{{ info.text }}</p>
                    {% endfor %}
                </div>

                    <div class="col-sm-4">
                        <h4>Скидка:</h4>
                        {% for discount in discount_info %}
                            <p class="info">{{ discount.text }}</p>
                        {% endfor %}
                    </div>

            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="section-container-inner">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="label"></div>
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    <section id="social" class="container">
        <div class="text-social">
            <p><b>Заказать фотосъёмку</b></p>
        </div>
        <p style="font-size: 15px; text-align:center;">{{ order_photo_shoot_info.text }}</p>
        <div class="btn-container">
            <a href="" class="btn btn-secondary">Заказать</a>
        </div>
    </section>
{% endblock %}